version: '3.8'

services:
  app_monolith:
    build: .
    container_name: gosayu_app
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=postgres_main
      - DB_USER=postgres
      - DB_PASSWORD=lokal
      - DB_NAME=gosayu_db
      - DB_PORT=5432
    depends_on:
      - postgres_main

  postgres_main:
    image: postgres:15-alpine
    container_name: gosayu_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: lokal
      POSTGRES_DB: gosayu_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Redis tetap diperlukan untuk Caching & Rate Limiter
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data: